body {
	margin: 0px; line-height: 20px; font-family: Times New Roman,"ו", arial; font-size: 12px; background-color: rgb(255, 255, 255);
}
td {
	line-height: 25px; font-size: 12px;
}
th {
	line-height: 25px; font-size: 12px;
}
a:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
a:active {
	color: rgb(255, 0, 0); text-decoration: none;
}
.f12B {
	font-size: 12px; font-weight: bold;
}
.f13 {
	line-height: 18px; font-size: 14px;
}
.f14 {
	line-height: 20px; font-size: 14px;
}
.f14B {
	line-height: 30px; font-size: 14px; font-weight: bold;
}
.f16 {
	line-height: 32px; font-size: 16px;
}
.f16B {
	line-height: 32px; font-size: 16px; font-weight: bold;
}
.lineh20 {
	line-height: 20px;
}
.lineh25 {
	line-height: 25px;
}
.lineh30 {
	line-height: 30px;
}
.lineh35 {
	line-height: 35px;
}
.tablea {
	background-color: rgb(153, 153, 153);
}
.tda {
	background-color: rgb(255, 255, 255);
}
.tdb {
	background-color: rgb(227, 227, 227);
}
.btn1 {
	border: 0px currentColor; border-image: none; width: 90px; height: 25px; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; background-image: url("btn1.gif"); background-color: rgb(246, 95, 4);
}
.btn2 {
	border: 0px currentColor; border-image: none; width: 90px; height: 25px; color: rgb(0, 0, 255); font-size: 12px; font-weight: bold; background-image: url("btn2.gif"); background-color: rgb(119, 188, 226);
}
.btn3 {
	border: 0px currentColor; border-image: none; width: 250px; height: 25px; color: rgb(0, 0, 255); font-size: 14px; font-weight: bold; background-image: url("btn3.gif"); background-color: rgb(119, 188, 226);
}
.btnLinkBtn {
	padding: 5px 15px; text-align: center; font-size: 14px; background-color: rgb(179, 189, 218);
}
.border1 {
	padding: 5px; border: 1px solid rgb(156, 156, 156); border-image: none;
}
.tbborder1 {
	border: 1px solid rgb(156, 156, 156); border-image: none;
}
.tbheight30 {
	height: 30px; color: rgb(9, 30, 121); font-size: 18px; vertical-align: middle;
}
.tbh15w120 {
	width: 120px; height: 15px; font-size: 12px;
}
.fred {
	color: red;
}
.fwhite {
	color: white;
}
.bgwhite {
	background-color: white;
}
#nav * {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
#nav {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: 24px; list-style-type: none;
}
#nav a {
	width: 80px; text-align: center; display: block;
}
#nav a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
#nav a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
#nav a:hover {
	color: rgb(255, 255, 255); font-weight: bold; text-decoration: none;
}
#nav li {
	width: 80px; color: rgb(255, 255, 255); float: left; background-image: url("bg3.gif");
}
#nav li a:hover {
	
}
#nav li ul {
	left: -999em; width: 120px; text-align: left; line-height: 27px; list-style-type: none; position: absolute;
}
#nav li ul li {
	background: rgb(246, 246, 246); width: 120px; float: left;
}
#nav li ul a {
	width: 120px; text-align: left; padding-left: 15px; display: block; background-image: url("bg4.gif");
}
#nav li ul a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
#nav li ul a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
#nav li ul a:hover {
	background: rgb(51, 137, 204); color: rgb(243, 243, 243); font-weight: normal; text-decoration: none;
}
#nav li:hover ul {
	left: auto;
}
#nav li.sfhover ul {
	left: auto;
}
#LOGIN .tabon {
	color: rgb(219, 91, 111); font-weight: bold; border-top-color: rgb(227, 227, 227); border-left-color: rgb(227, 227, 227); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
#LOGIN .taboff {
	color: rgb(102, 102, 102); font-weight: bold; border-top-color: rgb(227, 227, 227); border-bottom-color: rgb(227, 227, 227); border-left-color: rgb(227, 227, 227); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; background-color: rgb(193, 216, 240);
}
#LOGIN .tdbody {
	line-height: 50px; border-right-color: rgb(227, 227, 227); border-bottom-color: rgb(227, 227, 227); border-left-color: rgb(227, 227, 227); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
#LOGIN .tdbody2 {
	line-height: 50px; border-right-color: rgb(227, 227, 227); border-left-color: rgb(227, 227, 227); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 255, 255);
}
.modalBackground {
	opacity: 0.7; background-color: gray;
}
.masterBody {
	margin: 5px 0px 0px; color: rgb(51, 51, 51); font-size: 12px; background-image: url("02.jpg"); background-repeat: repeat-x; background-color: rgb(1, 68, 113);
}
